.aui {
	#banner {
		display: none;
	}

	#main-content.columns-1  {
		padding-top: 0;

		div.portlet-boundary {
			max-width: none;
			margin: 0;
		}
	}

	.flex {
		display: flex;
		flex-wrap: wrap;
	}

	.todsl-portlet {
		.display {
			padding: 1em;

			&.span9 {
				margin: 0 auto;
			}

			table {
				&, tr {
					border: 1px solid gray;
					text-align: center;
				}

				tr {
					border-bottom-width: 0;
					border-left-width: 0;
				}

				td, th {
					padding: 5px;
					vertical-align: middle;
				}

				td .control-group {
					margin: 0;
				}

				td .btn {
					font-size: inherit;
					padding: 5px;
				}

				input {
					box-shadow: none;
					box-sizing: border-box;
					font-size: 1em;
					height: auto;
					margin: 0;
					text-align: center;
					width: 100%;
				}
			}
		}

		.apps {
			border-right: 1px solid #003366;

			ul {
				margin: 0;
			}

			li {
				list-style: none;
			}

			a {
				border-bottom: 1px solid #003366;
				color: #003366;
				display: block;
				padding: 1em;
				text-align: center;
				transition: background .5s;
			}

			li.selected a, a:hover {
				background: #003366;
				color: #FFF;
			}
		}

		.banner {
			align-items: center;
			background-size: cover;
			display: flex;
			position: relative;

			&, h2, h3 {
				color: #FFF;
			}

			&:after {
				background: #000;
				bottom: 0;
				content: "";
				left: 0;
				opacity: .5;
				position: absolute;
				top: 0;
				right: 0;
			}

			.banner-content {
				width: 100%;
				z-index: 2;
			}

			.countdown-timer {
				font-size: 1.5em;
				position: absolute;
				right: 1em;
				top: 1em;
			}
		}

		.trip-weather, .trip-countdown, .trip-map, .trip-discussion, .trip-description, .trip-gear {
			padding: 1em 0;
		}
	}
}